/* table {
    border: 1px solid white;
    padding: 10rem 10rem 10rem 10rem;
  }
.th,.tr{
    padding: 1rem 1rem 1rem;
} */
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  #t01 {
    width: 100%;    
    background-color: #f1f1c1;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }